<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiang.ssm.mapper.BlankMapper" >
  <resultMap id="BaseResultMap" type="com.jiang.ssm.bean.Blank" >
    <id column="blank_id" property="blankId" jdbcType="INTEGER" />
    <result column="course_id" property="courseId" jdbcType="INTEGER" />
    <result column="blank_title" property="blankTitle" jdbcType="VARCHAR" />
    <result column="blank_answer" property="blankAnswer" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    blank_id, course_id, blank_title, blank_answer
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jiang.ssm.bean.BlankExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_blank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_blank
    where blank_id = #{blankId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_blank
    where blank_id = #{blankId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jiang.ssm.bean.BlankExample" >
    delete from t_blank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jiang.ssm.bean.Blank" >
    <selectKey resultType="java.lang.Integer" keyProperty="blankId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_blank (course_id, blank_title, blank_answer
      )
    values (#{courseId,jdbcType=INTEGER}, #{blankTitle,jdbcType=VARCHAR}, #{blankAnswer,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jiang.ssm.bean.Blank" >
    <selectKey resultType="java.lang.Integer" keyProperty="blankId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_blank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="blankTitle != null" >
        blank_title,
      </if>
      <if test="blankAnswer != null" >
        blank_answer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="blankTitle != null" >
        #{blankTitle,jdbcType=VARCHAR},
      </if>
      <if test="blankAnswer != null" >
        #{blankAnswer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jiang.ssm.bean.BlankExample" resultType="java.lang.Integer" >
    select count(*) from t_blank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_blank
    <set >
      <if test="record.blankId != null" >
        blank_id = #{record.blankId,jdbcType=INTEGER},
      </if>
      <if test="record.courseId != null" >
        course_id = #{record.courseId,jdbcType=INTEGER},
      </if>
      <if test="record.blankTitle != null" >
        blank_title = #{record.blankTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.blankAnswer != null" >
        blank_answer = #{record.blankAnswer,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_blank
    set blank_id = #{record.blankId,jdbcType=INTEGER},
      course_id = #{record.courseId,jdbcType=INTEGER},
      blank_title = #{record.blankTitle,jdbcType=VARCHAR},
      blank_answer = #{record.blankAnswer,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiang.ssm.bean.Blank" >
    update t_blank
    <set >
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="blankTitle != null" >
        blank_title = #{blankTitle,jdbcType=VARCHAR},
      </if>
      <if test="blankAnswer != null" >
        blank_answer = #{blankAnswer,jdbcType=VARCHAR},
      </if>
    </set>
    where blank_id = #{blankId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiang.ssm.bean.Blank" >
    update t_blank
    set course_id = #{courseId,jdbcType=INTEGER},
      blank_title = #{blankTitle,jdbcType=VARCHAR},
      blank_answer = #{blankAnswer,jdbcType=VARCHAR}
    where blank_id = #{blankId,jdbcType=INTEGER}
  </update>
</mapper>