<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiang.ssm.mapper.PaperRuleMapper" >
  <resultMap id="BaseResultMap" type="com.jiang.ssm.bean.PaperRule" >
    <id column="rule_id" property="ruleId" jdbcType="INTEGER" />
    <result column="course_id" property="courseId" jdbcType="INTEGER" />
    <result column="single_choice_check" property="singleChoiceCheck" jdbcType="VARCHAR" />
    <result column="single_choice_num" property="singleChoiceNum" jdbcType="INTEGER" />
    <result column="single_choice_score" property="singleChoiceScore" jdbcType="DOUBLE" />
    <result column="mul_choice_check" property="mulChoiceCheck" jdbcType="VARCHAR" />
    <result column="mul_choice_num" property="mulChoiceNum" jdbcType="INTEGER" />
    <result column="mul_choice_score" property="mulChoiceScore" jdbcType="DOUBLE" />
    <result column="fill_blank_check" property="fillBlankCheck" jdbcType="VARCHAR" />
    <result column="fill_blank_num" property="fillBlankNum" jdbcType="INTEGER" />
    <result column="fill_blank_score" property="fillBlankScore" jdbcType="DOUBLE" />
    <result column="judge_check" property="judgeCheck" jdbcType="VARCHAR" />
    <result column="judge_num" property="judgeNum" jdbcType="INTEGER" />
    <result column="judge_score" property="judgeScore" jdbcType="DOUBLE" />
    <result column="sub_question_check" property="subQuestionCheck" jdbcType="VARCHAR" />
    <result column="sub_question_num" property="subQuestionNum" jdbcType="INTEGER" />
    <result column="sub_question_score" property="subQuestionScore" jdbcType="DOUBLE" />
    <result column="paper_score" property="paperScore" jdbcType="INTEGER" />
    <result column="rule_type" property="ruleType" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    rule_id, course_id, single_choice_check, single_choice_num, single_choice_score, 
    mul_choice_check, mul_choice_num, mul_choice_score, fill_blank_check, fill_blank_num, 
    fill_blank_score, judge_check, judge_num, judge_score, sub_question_check, sub_question_num, 
    sub_question_score, paper_score, rule_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jiang.ssm.bean.PaperRuleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_paper_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_paper_rule
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_paper_rule
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jiang.ssm.bean.PaperRuleExample" >
    delete from t_paper_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jiang.ssm.bean.PaperRule" >
    <selectKey resultType="java.lang.Integer" keyProperty="ruleId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_paper_rule (course_id, single_choice_check, single_choice_num, 
      single_choice_score, mul_choice_check, mul_choice_num, 
      mul_choice_score, fill_blank_check, fill_blank_num, 
      fill_blank_score, judge_check, judge_num, 
      judge_score, sub_question_check, sub_question_num, 
      sub_question_score, paper_score, rule_type
      )
    values (#{courseId,jdbcType=INTEGER}, #{singleChoiceCheck,jdbcType=VARCHAR}, #{singleChoiceNum,jdbcType=INTEGER}, 
      #{singleChoiceScore,jdbcType=DOUBLE}, #{mulChoiceCheck,jdbcType=VARCHAR}, #{mulChoiceNum,jdbcType=INTEGER}, 
      #{mulChoiceScore,jdbcType=DOUBLE}, #{fillBlankCheck,jdbcType=VARCHAR}, #{fillBlankNum,jdbcType=INTEGER}, 
      #{fillBlankScore,jdbcType=DOUBLE}, #{judgeCheck,jdbcType=VARCHAR}, #{judgeNum,jdbcType=INTEGER}, 
      #{judgeScore,jdbcType=DOUBLE}, #{subQuestionCheck,jdbcType=VARCHAR}, #{subQuestionNum,jdbcType=INTEGER}, 
      #{subQuestionScore,jdbcType=DOUBLE}, #{paperScore,jdbcType=INTEGER}, #{ruleType,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jiang.ssm.bean.PaperRule" >
    <selectKey resultType="java.lang.Integer" keyProperty="ruleId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_paper_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="singleChoiceCheck != null" >
        single_choice_check,
      </if>
      <if test="singleChoiceNum != null" >
        single_choice_num,
      </if>
      <if test="singleChoiceScore != null" >
        single_choice_score,
      </if>
      <if test="mulChoiceCheck != null" >
        mul_choice_check,
      </if>
      <if test="mulChoiceNum != null" >
        mul_choice_num,
      </if>
      <if test="mulChoiceScore != null" >
        mul_choice_score,
      </if>
      <if test="fillBlankCheck != null" >
        fill_blank_check,
      </if>
      <if test="fillBlankNum != null" >
        fill_blank_num,
      </if>
      <if test="fillBlankScore != null" >
        fill_blank_score,
      </if>
      <if test="judgeCheck != null" >
        judge_check,
      </if>
      <if test="judgeNum != null" >
        judge_num,
      </if>
      <if test="judgeScore != null" >
        judge_score,
      </if>
      <if test="subQuestionCheck != null" >
        sub_question_check,
      </if>
      <if test="subQuestionNum != null" >
        sub_question_num,
      </if>
      <if test="subQuestionScore != null" >
        sub_question_score,
      </if>
      <if test="paperScore != null" >
        paper_score,
      </if>
      <if test="ruleType != null" >
        rule_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="singleChoiceCheck != null" >
        #{singleChoiceCheck,jdbcType=VARCHAR},
      </if>
      <if test="singleChoiceNum != null" >
        #{singleChoiceNum,jdbcType=INTEGER},
      </if>
      <if test="singleChoiceScore != null" >
        #{singleChoiceScore,jdbcType=DOUBLE},
      </if>
      <if test="mulChoiceCheck != null" >
        #{mulChoiceCheck,jdbcType=VARCHAR},
      </if>
      <if test="mulChoiceNum != null" >
        #{mulChoiceNum,jdbcType=INTEGER},
      </if>
      <if test="mulChoiceScore != null" >
        #{mulChoiceScore,jdbcType=DOUBLE},
      </if>
      <if test="fillBlankCheck != null" >
        #{fillBlankCheck,jdbcType=VARCHAR},
      </if>
      <if test="fillBlankNum != null" >
        #{fillBlankNum,jdbcType=INTEGER},
      </if>
      <if test="fillBlankScore != null" >
        #{fillBlankScore,jdbcType=DOUBLE},
      </if>
      <if test="judgeCheck != null" >
        #{judgeCheck,jdbcType=VARCHAR},
      </if>
      <if test="judgeNum != null" >
        #{judgeNum,jdbcType=INTEGER},
      </if>
      <if test="judgeScore != null" >
        #{judgeScore,jdbcType=DOUBLE},
      </if>
      <if test="subQuestionCheck != null" >
        #{subQuestionCheck,jdbcType=VARCHAR},
      </if>
      <if test="subQuestionNum != null" >
        #{subQuestionNum,jdbcType=INTEGER},
      </if>
      <if test="subQuestionScore != null" >
        #{subQuestionScore,jdbcType=DOUBLE},
      </if>
      <if test="paperScore != null" >
        #{paperScore,jdbcType=INTEGER},
      </if>
      <if test="ruleType != null" >
        #{ruleType,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jiang.ssm.bean.PaperRuleExample" resultType="java.lang.Integer" >
    select count(*) from t_paper_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_paper_rule
    <set >
      <if test="record.ruleId != null" >
        rule_id = #{record.ruleId,jdbcType=INTEGER},
      </if>
      <if test="record.courseId != null" >
        course_id = #{record.courseId,jdbcType=INTEGER},
      </if>
      <if test="record.singleChoiceCheck != null" >
        single_choice_check = #{record.singleChoiceCheck,jdbcType=VARCHAR},
      </if>
      <if test="record.singleChoiceNum != null" >
        single_choice_num = #{record.singleChoiceNum,jdbcType=INTEGER},
      </if>
      <if test="record.singleChoiceScore != null" >
        single_choice_score = #{record.singleChoiceScore,jdbcType=DOUBLE},
      </if>
      <if test="record.mulChoiceCheck != null" >
        mul_choice_check = #{record.mulChoiceCheck,jdbcType=VARCHAR},
      </if>
      <if test="record.mulChoiceNum != null" >
        mul_choice_num = #{record.mulChoiceNum,jdbcType=INTEGER},
      </if>
      <if test="record.mulChoiceScore != null" >
        mul_choice_score = #{record.mulChoiceScore,jdbcType=DOUBLE},
      </if>
      <if test="record.fillBlankCheck != null" >
        fill_blank_check = #{record.fillBlankCheck,jdbcType=VARCHAR},
      </if>
      <if test="record.fillBlankNum != null" >
        fill_blank_num = #{record.fillBlankNum,jdbcType=INTEGER},
      </if>
      <if test="record.fillBlankScore != null" >
        fill_blank_score = #{record.fillBlankScore,jdbcType=DOUBLE},
      </if>
      <if test="record.judgeCheck != null" >
        judge_check = #{record.judgeCheck,jdbcType=VARCHAR},
      </if>
      <if test="record.judgeNum != null" >
        judge_num = #{record.judgeNum,jdbcType=INTEGER},
      </if>
      <if test="record.judgeScore != null" >
        judge_score = #{record.judgeScore,jdbcType=DOUBLE},
      </if>
      <if test="record.subQuestionCheck != null" >
        sub_question_check = #{record.subQuestionCheck,jdbcType=VARCHAR},
      </if>
      <if test="record.subQuestionNum != null" >
        sub_question_num = #{record.subQuestionNum,jdbcType=INTEGER},
      </if>
      <if test="record.subQuestionScore != null" >
        sub_question_score = #{record.subQuestionScore,jdbcType=DOUBLE},
      </if>
      <if test="record.paperScore != null" >
        paper_score = #{record.paperScore,jdbcType=INTEGER},
      </if>
      <if test="record.ruleType != null" >
        rule_type = #{record.ruleType,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_paper_rule
    set rule_id = #{record.ruleId,jdbcType=INTEGER},
      course_id = #{record.courseId,jdbcType=INTEGER},
      single_choice_check = #{record.singleChoiceCheck,jdbcType=VARCHAR},
      single_choice_num = #{record.singleChoiceNum,jdbcType=INTEGER},
      single_choice_score = #{record.singleChoiceScore,jdbcType=DOUBLE},
      mul_choice_check = #{record.mulChoiceCheck,jdbcType=VARCHAR},
      mul_choice_num = #{record.mulChoiceNum,jdbcType=INTEGER},
      mul_choice_score = #{record.mulChoiceScore,jdbcType=DOUBLE},
      fill_blank_check = #{record.fillBlankCheck,jdbcType=VARCHAR},
      fill_blank_num = #{record.fillBlankNum,jdbcType=INTEGER},
      fill_blank_score = #{record.fillBlankScore,jdbcType=DOUBLE},
      judge_check = #{record.judgeCheck,jdbcType=VARCHAR},
      judge_num = #{record.judgeNum,jdbcType=INTEGER},
      judge_score = #{record.judgeScore,jdbcType=DOUBLE},
      sub_question_check = #{record.subQuestionCheck,jdbcType=VARCHAR},
      sub_question_num = #{record.subQuestionNum,jdbcType=INTEGER},
      sub_question_score = #{record.subQuestionScore,jdbcType=DOUBLE},
      paper_score = #{record.paperScore,jdbcType=INTEGER},
      rule_type = #{record.ruleType,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiang.ssm.bean.PaperRule" >
    update t_paper_rule
    <set >
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="singleChoiceCheck != null" >
        single_choice_check = #{singleChoiceCheck,jdbcType=VARCHAR},
      </if>
      <if test="singleChoiceNum != null" >
        single_choice_num = #{singleChoiceNum,jdbcType=INTEGER},
      </if>
      <if test="singleChoiceScore != null" >
        single_choice_score = #{singleChoiceScore,jdbcType=DOUBLE},
      </if>
      <if test="mulChoiceCheck != null" >
        mul_choice_check = #{mulChoiceCheck,jdbcType=VARCHAR},
      </if>
      <if test="mulChoiceNum != null" >
        mul_choice_num = #{mulChoiceNum,jdbcType=INTEGER},
      </if>
      <if test="mulChoiceScore != null" >
        mul_choice_score = #{mulChoiceScore,jdbcType=DOUBLE},
      </if>
      <if test="fillBlankCheck != null" >
        fill_blank_check = #{fillBlankCheck,jdbcType=VARCHAR},
      </if>
      <if test="fillBlankNum != null" >
        fill_blank_num = #{fillBlankNum,jdbcType=INTEGER},
      </if>
      <if test="fillBlankScore != null" >
        fill_blank_score = #{fillBlankScore,jdbcType=DOUBLE},
      </if>
      <if test="judgeCheck != null" >
        judge_check = #{judgeCheck,jdbcType=VARCHAR},
      </if>
      <if test="judgeNum != null" >
        judge_num = #{judgeNum,jdbcType=INTEGER},
      </if>
      <if test="judgeScore != null" >
        judge_score = #{judgeScore,jdbcType=DOUBLE},
      </if>
      <if test="subQuestionCheck != null" >
        sub_question_check = #{subQuestionCheck,jdbcType=VARCHAR},
      </if>
      <if test="subQuestionNum != null" >
        sub_question_num = #{subQuestionNum,jdbcType=INTEGER},
      </if>
      <if test="subQuestionScore != null" >
        sub_question_score = #{subQuestionScore,jdbcType=DOUBLE},
      </if>
      <if test="paperScore != null" >
        paper_score = #{paperScore,jdbcType=INTEGER},
      </if>
      <if test="ruleType != null" >
        rule_type = #{ruleType,jdbcType=BIGINT},
      </if>
    </set>
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiang.ssm.bean.PaperRule" >
    update t_paper_rule
    set course_id = #{courseId,jdbcType=INTEGER},
      single_choice_check = #{singleChoiceCheck,jdbcType=VARCHAR},
      single_choice_num = #{singleChoiceNum,jdbcType=INTEGER},
      single_choice_score = #{singleChoiceScore,jdbcType=DOUBLE},
      mul_choice_check = #{mulChoiceCheck,jdbcType=VARCHAR},
      mul_choice_num = #{mulChoiceNum,jdbcType=INTEGER},
      mul_choice_score = #{mulChoiceScore,jdbcType=DOUBLE},
      fill_blank_check = #{fillBlankCheck,jdbcType=VARCHAR},
      fill_blank_num = #{fillBlankNum,jdbcType=INTEGER},
      fill_blank_score = #{fillBlankScore,jdbcType=DOUBLE},
      judge_check = #{judgeCheck,jdbcType=VARCHAR},
      judge_num = #{judgeNum,jdbcType=INTEGER},
      judge_score = #{judgeScore,jdbcType=DOUBLE},
      sub_question_check = #{subQuestionCheck,jdbcType=VARCHAR},
      sub_question_num = #{subQuestionNum,jdbcType=INTEGER},
      sub_question_score = #{subQuestionScore,jdbcType=DOUBLE},
      paper_score = #{paperScore,jdbcType=INTEGER},
      rule_type = #{ruleType,jdbcType=BIGINT}
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </update>
</mapper>